#qna {
  display: none;
}

.qBox {
  background-color: whitesmoke;
  border-radius: 20px;
  text-align: center;
  margin: 50px auto 0 auto;
  padding: 30px 0;
  font-size: 24px;
  width: 80%;
}
.answerList {
  background-color: whitesmoke;
  border-radius: 20px;
  display: block;
  width: 100%;
  border: 2px solid whitesmoke;
  padding: 30px 0;
  margin: 30px auto 0 auto;
  font-size: 20px;
  width: 80%;
}
.answerList:hover,
.answerList:focus {
  background-color: pink;
  color: whitesmoke;
  border: 2px solid whitesmoke;
}

.status {
  width: 80%;
  height: 20px;
  margin: 50px auto 0 auto;
  background-color: white;
  border-radius: 20px;
}
.statusBar {
  height: 100%;
  background: #ff6e7f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #bfe9ff,
    #ff6e7f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bfe9ff,
    #ff6e7f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 20px;
}
